In [1]:
from pandas import read_hdf
import pandas as pd
import numpy as np

In [2]:
demo_df = pd.read_csv("demoDF.csv")
del demo_df["Unnamed: 0"]
demo_df

   Average_zcr   Std_zcr  Average_mfcc   Std_mfcc  Encoded_Genre
0     0.059784  0.048140      1.300539  66.319521            2.0
1     0.032855  0.018248      3.230270  74.695595            0.0
2     0.052183  0.020888      7.226442  65.918277            6.0

#return our data with an extra column 'Genre' to be used for table concatenatio
demo_df = read_hdf('storage.h5', 'demoFile')
demo_df

In [3]:
#mapping from numerical to categorical
encoder_df = pd.read_csv('Encoder_mapping.csv')
del encoder_df["Unnamed: 0"]
encoder_df

   Encoded_Genre       Genre
0              0  Electronic
1              9        Rock
2              5    Old-Time
3              3  Indie-Rock
4              4        Jazz
5              1        Folk
6              6         Pop
7              7  Psych-Rock
8              8        Punk
9              2     Hip-Hop

In [4]:
df0 = pd.merge(left=demo_df,right=encoder_df,on = ['Encoded_Genre'])
df0

   Average_zcr   Std_zcr  Average_mfcc   Std_mfcc  Encoded_Genre       Genre
0     0.059784  0.048140      1.300539  66.319521            2.0     Hip-Hop
1     0.032855  0.018248      3.230270  74.695595            0.0  Electronic
2     0.052183  0.020888      7.226442  65.918277            6.0         Pop

In [5]:
#return our data with an extra column 'Genre' to be used for table concatenatio
complete_df = read_hdf('storage.h5', 'completeFile')
complete_df

    Average_zcr   Std_zcr  Average_mfcc    Std_mfcc  Encoded_Genre
1      0.046283  0.048223      5.295109   70.311970            0.0
2      0.019823  0.009986     -3.910284  110.850950            1.0
3      0.066780  0.050854     11.081184   51.076053            2.0
4      0.056233  0.015421     -0.430752   77.924070            3.0
5      0.023857  0.014139     -0.317025   92.601584            4.0
6      0.053069  0.011802    -31.598715  121.324542            5.0
7      0.021925  0.016098      7.043658   73.569651            6.0
8      0.066616  0.018204     10.590002   46.918898            7.0
9      0.057615  0.015474      6.075305   58.763914            8.0
10     0.070879  0.027181      9.501460   46.626058            9.0

In [6]:
df = pd.merge(left=complete_df,right=encoder_df,on = ['Encoded_Genre'])
df

   Average_zcr   Std_zcr  Average_mfcc    Std_mfcc  Encoded_Genre       Genre
0     0.046283  0.048223      5.295109   70.311970            0.0  Electronic
1     0.019823  0.009986     -3.910284  110.850950            1.0        Folk
2     0.066780  0.050854     11.081184   51.076053            2.0     Hip-Hop
3     0.056233  0.015421     -0.430752   77.924070            3.0  Indie-Rock
4     0.023857  0.014139     -0.317025   92.601584            4.0        Jazz
5     0.053069  0.011802    -31.598715  121.324542            5.0    Old-Time
6     0.021925  0.016098      7.043658   73.569651            6.0         Pop
7     0.066616  0.018204     10.590002   46.918898            7.0  Psych-Rock
8     0.057615  0.015474      6.075305   58.763914            8.0        Punk
9     0.070879  0.027181      9.501460   46.626058            9.0        Rock

In [7]:
df = df.reindex(np.random.permutation(df.index))
df

   Average_zcr   Std_zcr  Average_mfcc    Std_mfcc  Encoded_Genre       Genre
1     0.019823  0.009986     -3.910284  110.850950            1.0        Folk
3     0.056233  0.015421     -0.430752   77.924070            3.0  Indie-Rock
5     0.053069  0.011802    -31.598715  121.324542            5.0    Old-Time
9     0.070879  0.027181      9.501460   46.626058            9.0        Rock
2     0.066780  0.050854     11.081184   51.076053            2.0     Hip-Hop
7     0.066616  0.018204     10.590002   46.918898            7.0  Psych-Rock
8     0.057615  0.015474      6.075305   58.763914            8.0        Punk
6     0.021925  0.016098      7.043658   73.569651            6.0         Pop
0     0.046283  0.048223      5.295109   70.311970            0.0  Electronic
4     0.023857  0.014139     -0.317025   92.601584            4.0        Jazz

In [9]:
y = df['Encoded_Genre']

In [13]:
X = df[['Average_zcr','Std_zcr','Average_mfcc','Std_mfcc']]
X

   Average_zcr   Std_zcr  Average_mfcc    Std_mfcc
1     0.019823  0.009986     -3.910284  110.850950
3     0.056233  0.015421     -0.430752   77.924070
5     0.053069  0.011802    -31.598715  121.324542
9     0.070879  0.027181      9.501460   46.626058
2     0.066780  0.050854     11.081184   51.076053
7     0.066616  0.018204     10.590002   46.918898
8     0.057615  0.015474      6.075305   58.763914
6     0.021925  0.016098      7.043658   73.569651
0     0.046283  0.048223      5.295109   70.311970
4     0.023857  0.014139     -0.317025   92.601584

In [14]:
from sklearn.model_selection import train_test_split