In [6]:
from pandas import read_hdf
import pandas as pd
import numpy as np

In [7]:
#return our data with an extra column 'Genre' to be used for table concatenatio
demo_df = read_hdf('storage.h5', 'demoFile')
demo_df

       Average_zcr   Std_zcr  Average_mfcc   Std_mfcc  Encoded_Genre
song0     0.059827  0.048144      1.301995  66.321423            2.0
song1     0.032864  0.018240      3.246708  74.669932            0.0
song2     0.052200  0.020879      7.227504  65.923137            6.0

In [3]:
#mapping from numerical to categorical
encoder_df = pd.read_csv('Encoder_mapping.csv')
del encoder_df["Unnamed: 0"]
encoder_df

   Encoded       Genre
0        0  Electronic
1        9        Rock
2        5    Old-Time
3        3  Indie-Rock
4        4        Jazz
5        1        Folk
6        6         Pop
7        7  Psych-Rock
8        8        Punk
9        2     Hip-Hop

In [4]:
pd.merge(left=demo_df,right=encoder_df,on = ['Encoded'])

   Average_zcr   Std_zcr  Average_mfcc   Std_mfcc  Encoded       Genre
0     0.059827  0.048144      1.301995  66.321423      2.0     Hip-Hop
1     0.032864  0.018240      3.246708  74.669932      0.0  Electronic
2     0.052200  0.020879      7.227504  65.923137      6.0         Pop

each song - all the encodeds
do truee comparison,
remove false
merge